body {
  padding: 50px 10px 0;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: #1da1f2;
}

h2 {
  padding: 0;
  margin: 20px 0 0;
}

h3,
h4 {
  padding: 0;
  margin: 0;
}

p {
  font-size: 14px;
  margin: 5px 0 15px;
}

span {
  font-size: 10px;
  color: gray;
}

.input-wrapper {
  position: sticky;
  top: 0;
  height: 50px;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  background-color: white;
}

input {
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: solid #1da1f2 2px;
}

input:hover {
  border: solid #1da1f2 2px;
  outline: solid #006fb3 2px;
  outline-offset: 4px;
}

input:focus {
  background-color: #e1eff7;
  border: solid #1da1f2 2px;
  outline: solid #006fb3 2px;
  outline-offset: 3px;
}

.primary-button {
  background-color: #1da1f2;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.primary-button:hover {
  background-color: #006fb3;
  cursor: pointer;
}

.icon-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.icon-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.responses-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.response {
  margin: 10px;
  padding: 15px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px 1px lightgray;
  background-image: linear-gradient(#e1eff7, white, white);
}

@media only screen and (max-width: 600px) {
  .response {
    width: 80vw;
  }
}
